/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('AboutPic.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set body font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header styles */
p {
    margin-bottom: 20px;
    /* Add space below each paragraph */
}

.container {
    max-width: 99vh;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    the container stand out */ border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-right: 20px;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.name {
    font-size: large;
}

/* Footer styles */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}
